/* Police */

@font-face {
    font-family: 'Antique';
    src: url('Police Antique/Aaargh.ttf');
}

@font-face {
    font-family: 'Trajan';
    src: url('Police Trajan/Trajan.ttf');
}
/* Liens */
a
{
text-decoration:none;
color: #FFD700;
text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
transition-duration: 400ms;
}

a:hover
{
  color: black;
  background: #FFD700;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
}

a:active
{
  color: #000;
     background: #444;
     background: linear-gradient( #555, #2C2C2C);
     box-shadow: 1px 1px 10px black inset,
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}

/* HEAD */
.logo
{
    width:90px;
    height: 90px;
    border-radius: 50px;
    box-shadow: 4px 4px 4px grey;
}

#bandeau
{
  background: white;
  opacity: 1;
  box-shadow: 7px 7px 7px black;

}

header
{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;

}

.bande
{
    text-align: center;
    color: #FFD700;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    font-size: 30px;
    font-weight: bolder;


    margin:0;
    list-style-type:none;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 20%;

    padding-top: 30px;
    padding-bottom: 30px;

}




/* BODY */

/* bouton vers le haut */

.retourverslehaut
{
  width: 70px;
  height: 70px;

  border-radius: 50px;
  opacity: 0.6;
  transition-duration: 400ms;
}

.retourverslehaut:hover
{
  opacity: 1;
}

.retourverslehaut:active
{
    color: #000;
       background: white;
       box-shadow: 1px 1px 10px black inset,
                   0 1px 0 rgba( 255, 255, 255, 0.4);
}

#retourverslehaut
{
  position: fixed;
  bottom : 5%;
  right: 5%;
  opacity: 0.5;
  z-index: 100;
}

/* ########## */

.titre
{
  font-size: 80px;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  text-align: center;
  font-family: 'Trajan', 'Antique';

  padding-top: 5%;
  padding-bottom: 5%;

  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;

  box-shadow: 4px 4px 4px black;

}

body
{
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("Images/fond_pyramides.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Antique';

    /*text-align: center;*/
    color: white;

}

p
{
    font-family : 'Antique';
    font-size: 40px;
    font-weight: bold;

    /*margin-left: 10%;
    margin-right: 10%;*/
}

.separateur
{
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.barre_pyramide
{
  width: 300px;
  height: 90px;
}

.BandeauFormulaire
{
  background: white;
  color: black;
  font-size: 30px;
  text-align: center;

  padding: 40px;
  opacity: 1;

  margin-left: 14%;
  margin-right: 14%;

  border-radius: 10px;
}


#ListeLieux
{

  display: flex;
  flex-wrap: wrap;

  margin-left: 18%;
  margin-right: 18%;

  justify-content: space-between;


}

#CarreLieux
{
  margin: 30px;
  position: relative;
  box-shadow: 20px 20px 20px black;

  width: 260px;
  height: 260px;
}


.imagetab1
{
  width: 260px;
  height: 260px;

  border: 3px solid white;
  border-radius: 13px;
}

.NomCentered
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

/* Effets sur images */

.imagetab1
{
  transition-property: transform;
  transition-duration: 300ms;
}
.imagetab1:hover
{
  cursor: pointer;
  transform: scale(1.15);
}




/* Bas de page */

footer
{

	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;


	background-color:  #522600;
  opacity: 1;

}

*{

margin:0;

padding:0;

}
.reseaux
{
	width: 40px;
	height: 40px;
	position: relative;
  cursor: pointer;
}

#BasDePage
{
	margin-left: 10%;
	margin-right: 10%;


	display: flex;
	justify-content: space-around;
}

.apropos
{
	font-family: 'Antique';
	font-size: 18px;
	color: white;
	text-align: left;
	margin-left: 250px;
}

.BasTitre
{
	font-family: 'Antique';
	font-size: 23px;
	color: white;
	text-align: left;
	margin-left: 250px;
  margin-right: 250px;

	border-bottom: 2px solid white;
}

.Marque
{
	font-family: 'Antique';
	font-size: 14px;
	color: white;
  text-align: center;
}
